.warapper {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar-wrapper {
  position: fixed;
  z-index: 1030;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  transition-timing-function: linear, linear, ease;
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  background-color: #fff;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.main-pannel {
  position: relative;
  float: right;
  width: calc(100vw - 260px);
  height: 100%;
  max-height: 100vh;
  transition: all .33s cubic-bezier(.685, .0473, .346, 1);
  transition-timing-function: linear, linear, ease;
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  overflow: hidden;
}
