.warapper {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar-wrapper {
  position: fixed;
  z-index: 1030;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  transition-timing-function: linear, linear, ease;
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  background-image: url('../../../assets/sidebar-2.jpg');
  background-position: 50%;
  background-size: cover;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.main-pannel {
  position: relative;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100vw - 260px);
  height: 100vh;
  transition: all .33s cubic-bezier(.685, .0473, .346, 1);
  transition-timing-function: linear, linear, ease;
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  touch-action: auto;
}
