@import"./custom.component";
@include mat-core();
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
.deeppurple-amber {
  @include angular-material-theme($theme);
  @include custom-component-theme($theme);
}
