@import"./custom.component";
@include mat-core();
$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);
.pink-bluegrey {
  @include angular-material-theme($theme);
  @include custom-component-theme($theme);
}
