@import"./custom.component";
@include mat-core();
$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);
.purple-green {
  @include angular-material-theme($theme);
  @include custom-component-theme($theme);
}
