<div class="sidebar mini">
  <div class="header">
    <div class="logo">
      <span class="heart"></span>
    </div>
    <div class="info">
      <span> Angular Dashboard </span>
    </div>
  </div>
  <div class="user">
    <div class="avatar">
      <img src="assets/timg.jpg" alt="">
    </div>
    <div class="info">
      <span>Mervyn Zhang</span>
    </div>
    <div class="link">
      <mat-icon>link</mat-icon>
    </div>
  </div>
  <div class="routes">
    <ul>
      <li>
        <ul>
          <li>
            <a>
              <mat-icon>home</mat-icon>
              <p> Home </p>
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a>
          <mat-icon>home</mat-icon>
          <p>Home</p>
        </a>
      </li>
    </ul>
  </div>
</div>
